- @messages.each do |message|
  .message-post__post{data:{"id":"#{message.id}"}}
    .message-post__upper-info
      .message-post__upper-info--user-name
        = message.user.name
      .message-post__upper-info--time
        = message.created_at
    .message-post__message
      -if message.body.present?
        %p
          = message.body
      =  image_tag message.image.url if message.image.present?